/* Roots start */

:root, [data-bs-theme=light] {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13,110,253;
  --bs-secondary-rgb: 108,117,125;
  --bs-success-rgb: 25,135,84;
  --bs-info-rgb: 13,202,240;
  --bs-warning-rgb: 255,193,7;
  --bs-danger-rgb: 220,53,69;
  --bs-light-rgb: 248,249,250;
  --bs-dark-rgb: 33,37,41;
  --bs-primary-text-emphasis: #052c65;
  --bs-secondary-text-emphasis: #2b2f32;
  --bs-success-text-emphasis: #0a3622;
  --bs-info-text-emphasis: #055160;
  --bs-warning-text-emphasis: #664d03;
  --bs-danger-text-emphasis: #58151c;
  --bs-light-text-emphasis: #495057;
  --bs-dark-text-emphasis: #495057;
  --bs-primary-bg-subtle: #cfe2ff;
  --bs-secondary-bg-subtle: #e2e3e5;
  --bs-success-bg-subtle: #d1e7dd;
  --bs-info-bg-subtle: #cff4fc;
  --bs-warning-bg-subtle: #fff3cd;
  --bs-danger-bg-subtle: #f8d7da;
  --bs-light-bg-subtle: #fcfcfd;
  --bs-dark-bg-subtle: #ced4da;
  --bs-primary-border-subtle: #9ec5fe;
  --bs-secondary-border-subtle: #c4c8cb;
  --bs-success-border-subtle: #a3cfbb;
  --bs-info-border-subtle: #9eeaf9;
  --bs-warning-border-subtle: #ffe69c;
  --bs-danger-border-subtle: #f1aeb5;
  --bs-light-border-subtle: #e9ecef;
  --bs-dark-border-subtle: #adb5bd;
  --bs-white-rgb: 255,255,255;
  --bs-black-rgb: 0,0,0;
  --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-color-rgb: 33,37,41;
  --bs-body-bg: #fff;
  --bs-body-bg-rgb: 255,255,255;
  --bs-emphasis-color: #000;
  --bs-emphasis-color-rgb: 0,0,0;
  --bs-secondary-color: rgba(33, 37, 41, 0.75);
  --bs-secondary-color-rgb: 33,37,41;
  --bs-secondary-bg: #e9ecef;
  --bs-secondary-bg-rgb: 233,236,239;
  --bs-tertiary-color: rgba(33, 37, 41, 0.5);
  --bs-tertiary-color-rgb: 33,37,41;
  --bs-tertiary-bg: #f8f9fa;
  --bs-tertiary-bg-rgb: 248,249,250;
  --bs-heading-color: inherit;
  --bs-link-color: #0d6efd;
  --bs-link-color-rgb: 13,110,253;
  --bs-link-decoration: underline;
  --bs-link-hover-color: #0a58ca;
  --bs-link-hover-color-rgb: 10,88,202;
  --bs-code-color: #d63384;
  --bs-highlight-color: #212529;
  --bs-highlight-bg: #fff3cd;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #dee2e6;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-xxl: 2rem;
  --bs-border-radius-2xl: var(--bs-border-radius-xxl);
  --bs-border-radius-pill: 50rem;
  --bs-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --bs-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  --bs-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  --bs-focus-ring-width: 0.25rem;
  --bs-focus-ring-opacity: 0.25;
  --bs-focus-ring-color: rgba(13, 110, 253, 0.25);
  --bs-form-valid-color: #198754;
  --bs-form-valid-border-color: #198754;
  --bs-form-invalid-color: #dc3545;
  --bs-form-invalid-border-color: #dc3545;
  --ossp-darkred: #B2384F;
  --ossp-lightred: #DC1D1D;
  --ossp-lightblue: #3B8BEA;
  --ossp-lightbrown: #E6E3D4;
  --ossp-lightwhite: #C3DBF5;
  --ossp-whiteblue: #8591AB;
  --ossp-transparentdarkred: rgba(178,56,79,0.5);
  --ossp-transparentlightblue: rgba(59,139,234,0.5);
  --ossp-transparentwhiteblue: rgba(133,145,171,0.5);
}

:root {
  --bs-breakpoint-xs: 0;
  --bs-breakpoint-sm: 576px;
  --bs-breakpoint-md: 768px;
  --bs-breakpoint-lg: 992px;
  --bs-breakpoint-xl: 1200px;
  --bs-breakpoint-xxl: 1400px;
}

body {
  margin: 0 auto;
  font-family: 'Poppins';
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

/* Roots End */

/* Start Top Header Date/Counter */

.counter h1 {
  font-size: large;
  color: #ffffff;
}

.counter span {
  color: var(--ossp-lightwhite);
  font-style: italic;
  font-weight: bolder;
}

.counter {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  flex-wrap: nowrap;
}

#datetime {
  font-size: medium;
  color: white;
  width: 100%;
  font-family: 'Poppins';
  text-align: start;
  display: flex;
  padding: 0;
  margin: 0;
  flex-wrap: nowrap;
}

.top-sect {
  display: flex;
  width: 100%;
  background: var(--ossp-lightblue);
  align-items: center;
  justify-content: center;
}

.top-nav {
  background-color: var(--ossp-lightblue);
  margin: 0rem;
  padding: 0;
}

span {
  margin: .3rem;
}

li {
  align-items: center;
  display: flex;
}

@media (max-width: 1025px) {
  .counter {
    display: none;
  }
}

#nav-nav {
  width: 100%;
  height: 100px;
  z-index: 30;
}

.banner-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.banner-wrapper a {
  text-decoration: none;
}

#front-banb p {
  font-size: 40px;
  text-align: center;
}

@media (max-width: 576px) {
  #front-banb p {
    font-size: 20px;
  }
}

#front-bana {
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-desca p {
  text-shadow: 3px 3px 2px var(--bs-tertiary-color);
}

#front-bana p {
  width: 100%;
  font-size: 30px;
  font-style: italic;
  text-align: end;
}

@media (max-width: 576px) {
  #front-bana p {
    font-size: 20px;
    align-items: center;
    justify-content: center;
  }
}

#bannerpara {
  font-size: 50px;
}

#bannerparc {
  font-size: 25px;
}

@media (max-width: 992px) {
  #bannerparc {
    font-size: 15px;
  }
}

@keyframes enter-animation {
  0% {
    transform: translateX(-100%);
    filter: blur(5px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .ban-animation {
    animation: enter-animation 1s 1;
  }
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

.hidden {
  opacity: 0;
  transition: all 2s;
  filter: blur(5px);
  transform: translateX(100px);
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  background-color: rgba(0, 0, 0, 0.405);
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev-cards, .next-cards {
  cursor: pointer;
  position: absolute;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  background-color: rgba(0, 0, 0, 0.405);
  border-radius: 0 3px 3px 0;
  user-select: none;
  text-decoration: none;
  transform: translateY(-500%);
}

.prev-cards {
  left: 0;
}

.next-cards {
  right: 0;
}

/* The dots/bullets/indicators */

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #717171;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: black;
}

.dot-cards {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #717171;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot-cards:hover {
  background-color: black;
}

/* Position the "next button" to the right */

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Position the "next button" to the right */

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.dot:hover .focus {
  background-color: #717171;
}

/* Fading animation */

.faded {
  animation-name: enter-animation;
  animation-duration: 1.5s;
}

#front-banc {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ban-parent {
  flex: 1 0 100%;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: 100%;
  box-shadow: 1px 10px 15px rgba(25,25,25,0.4);
  display: none;
  display: flex;
}

.wrapper-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  overflow-x: hidden;
}

.banner-content {
  aspect-ratio: 16/9;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  margin: 0 auto;
  overflow: hidden;
}

@media (max-width: 992px) {
  .banner-content {
    min-height: 50vh;
  }
}

.banner-desca {
  padding: 3rem;
  background-color: var(--ossp-transparentlightblue);
  color: white;
  width: 100%;
  height: 100%;
}

#front-banb {
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 30px;
}

#banner-imagea {
  background-image: url("../../assets/img/bannerf.webp");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 400px) {
  #banner-imagea {
    background-position: left center;
  }
}

#banner-imageb {
  background-image: url("../../assets/img/bannerg.webp");
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}

#banner-imagec {
  background-image: url("../../assets/img/bannerb.webp");
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.banner-nav a {
  width: .7rem;
  height: .7rem;
  background-color: rgba(0,0,0,0.8);
  border-radius: 50%;
  opacity: 65%;
}

.active, .banner-nav a:hover {
  opacity: 100%;
}

.sectiona {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#header-nav {
  padding: 1rem 1rem 1rem;
  align-items: center;
  justify-content: center;
  display: flex;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .sectiona {
  padding-top: 100px;
}

/* logo top index.html */

#logo-header {
  width: 100px;
}

@media (max-width: 576px) {
  #logo-header {
    width: 50px;
  }
}

.link-ossp {
  width: 100%;
  display: block;
}

@media (max-width: 300px) {
  .link-ossp {
    display: none;
  }
}

#logo-qc {
  width: 110px;
}

@media (max-width: 576px) {
  #logo-qc {
    width: 55px;
  }
}

.sectionbhead {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ossp-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: 100%;
}

.ossp-heada {
  font-size: x-large;
  font-weight: bolder;
}

@media (max-width: 768px) {
  .ossp-heada {
    font-size: medium;
  }
}

.oss-head-div {
  width: 70%;
  margin: 0rem 2rem 0rem;
}

.ossp-headb {
  font-size: x-large;
  font-style: italic;
}

@media (max-width: 768px) {
  .ossp-headb {
    font-size: small;
    font-style: italic;
  }
}

#navcol-1 {
  background-color: white;
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 30;
}

/* Start NavigatioBar */

.navbar {
  --bs-navbar-padding-x: 0;
  --bs-navbar-padding-y: 0.5rem;
  --bs-navbar-color: rgba(var(--bs-emphasis-color-rgb), 0.65);
  --bs-navbar-hover-color: rgba(var(--bs-emphasis-color-rgb), 0.8);
  --bs-navbar-disabled-color: rgba(var(--bs-emphasis-color-rgb), 0.3);
  --bs-navbar-active-color: rgba(var(--bs-emphasis-color-rgb), 1);
  --bs-navbar-brand-padding-y: 0.3125rem;
  --bs-navbar-brand-margin-end: 1rem;
  --bs-navbar-brand-font-size: 1.25rem;
  --bs-navbar-brand-color: rgba(var(--bs-emphasis-color-rgb), 1);
  --bs-navbar-brand-hover-color: rgba(var(--bs-emphasis-color-rgb), 1);
  --bs-navbar-nav-link-padding-x: 0.5rem;
  --bs-navbar-toggler-padding-y: 0.25rem;
  --bs-navbar-toggler-padding-x: 0.75rem;
  --bs-navbar-toggler-font-size: 1.25rem;
  --bs-navbar-toggler-border-color: rgba(var(--bs-emphasis-color-rgb), 0.15);
  --bs-navbar-toggler-border-radius: var(--bs-border-radius);
  --bs-navbar-toggler-focus-width: 0.25rem;
  --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: var(--bs-navbar-padding-y) var(--bs-navbar-padding-x);
  box-shadow: 1px 10px 15px rgba(25,25,25,0.4);
}

.navbar-toggler {
  border: none;
}

.nav-list {
  align-items: center;
  padding: 0rem 1rem 0rem;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-item {
  margin: 0rem .3rem 0rem;
  width: fit-content;
}

.man-head {
  font-weight: bold;
}

.nav-item a {
  text-decoration: none;
  color: rgba(var(--bs-emphasis-color-rgb), 0.65);
}

.nav-item:hover a {
  color: rgba(var(--bs-emphasis-color-rgb), 0.8);
}

.nav-dropdown-menu {
  border: none;
}

.nav-dropdown-item:active {
  background: white;
}

.man-par {
  padding: 0rem 3rem 0rem;
  margin: 0;
  text-align: justify;
}

@media (max-width: 768px) {
  .man-par {
    padding: 1rem;
    margin: 0;
    text-align: justify;
  }
}

.man-div {
  padding: 0rem 3rem 0rem;
}

@media (max-width: 768px) {
  .man-div {
    padding: 1rem;
  }
}

.sectionb {
  padding: 0rem 0rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mis-vis {
  padding: 1rem;
  background-color: var(--bs-tertiary-color);
}

.col-b {
  padding: 3rem;
  background: transparent;
  color: white;
}

.sectionc {
  background-image: url("../../assets/img/IMG_2916.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sectiond {
  width: 100%;
  height: fit-content;
  margin: 1rem 0rem 1rem;
  padding: 1rem;
}

.row-sectca {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

@media (max-width: 776px) {
  .row-sectcb {
    flex-direction: column;
    margin: 5rem 0rem 5rem;
  }
}

@media (max-width: 776px) {
  .serv-reverse {
    flex-direction: column-reverse;
    margin: 5rem 0rem 5rem;
  }
}

.col-d-a:nth-child(2) {
  transition-delay: 500ms;
}

.col-d-a:nth-child(3) {
  transition-delay: 1000ms;
}

.col-d-a:nth-child(4) {
  transition-delay: 1500ms;
}

.col-d-a:nth-child(5) {
  transition-delay: 2000ms;
}

.col-head-serv {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.serv-img {
  max-width: 300px;
  width: 100%;
  height: auto;
}

.col-head-serv p {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.read-more {
  padding: 1em 2em;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  cursor: pointer;
  color: var(--ossp-lightblue);
  transition: all 1000ms;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  outline: 2px solid var(--ossp-lightblue);
}

.read-more:hover {
  color: #ffffff;
  transform: scale(1.1);
  outline: 2px solid #70bdca;
  box-shadow: 4px 5px 17px -4px #268391;
}

.read-more::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #2c9caf;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

.read-more:hover::before {
  width: 250%;
}

.sect-parb {
  text-align: center;
}

.cont-row {
  display: flex;
}

@media (max-width: 576px) {
  .cont-row {
    flex-direction: column;
  }
}

.sect-sectd {
  flex: 1 0 100%;
  background-image: url("../../assets/img/bannerd.webp");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  padding: 0;
}

.row-sectc {
  gap: 7px;
  padding: 2rem 1rem 2rem;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 1rem;
}

.sectc-head {
  text-align: center;
  font-weight: bolder;
  margin: 1rem;
}

.icond {
  width: 200px;
  height: 40vh;
}

@media (max-width: 992px) {
  .icond {
    height: 20vh;
  }
}

#gavelw {
  display: none;
}

#agenw {
  display: none;
}

#resow {
  display: none;
}

#buildw {
  display: none;
}

.col-d-a {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  height: 100%;
  padding: 0;
  width: 100%;
  height: 100%;
}

.row.row-d {
  margin-bottom: 0;
  padding-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.div-d {
  padding: 2rem;
  background-color: var(--ossp-transparentlightblue);
  width: inherit;
  height: 100%;
  color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.service-bundle {
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.head-d {
  font-weight: bolder;
}

.div-d:hover {
  background-color: var(--bs-tertiary-color);
  color: var(--ossp-lightwhite);
}

.div-d:hover #gavelw {
  display: flex;
}

.div-d:hover #resow {
  display: flex;
}

.div-d:hover #agenw {
  display: flex;
}

.div-d:hover #buildw {
  display: flex;
}

.div-d:hover #gavelb {
  display: none;
}

.div-d:hover #resob {
  display: none;
}

.div-d:hover #buildb {
  display: none;
}

.div-d:hover #agenb {
  display: none;
}

/* start article index.html */

.head-e {
  font-weight: bold;
}

.section-art {
  flex-direction: column;
  margin: 2rem 0rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.container-card {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.art-card {
  flex: 0 0 100%;
  flex-direction: column;
  width: calc(100% / 2);
  max-width: 380px;
  height: 430px;
  max-height: 530px;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.08), -4px -4px 12px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  transition: all 0.3s;
  cursor: pointer;
  box-sizing: border-box;
  margin: 1rem;
  padding: 10px;
}

@media (max-width: 360px) {
  .art-card {
    width: 240px;
    height: 360px;
    margin: 1rem 0rem 1rem;
  }
}

.art-card::after {
  content: "";
  background-color: var(--ossp-lightblue);
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0;
  transition: 0.2s;
}

.art-card:hover {
  color: var(--ossp-lightblue);
  border: none;
}

.art-card:hover::after {
  background-color: var(--ossp-lightblue);
  width: 100%;
}

.menu-reg {
  position: relative;
  z-index: 1;
  text-align: center;
}

.menu-reg, .show {
  width: 100%;
  height: fit-content;
}

.art-card:hover {
  transform: scale(1.1);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1), -4px -4px 12px rgba(0, 0, 0, 0.08);
}

.art-card-image-container {
  width: 100%;
  height: 54%;
  border-radius: 10px;
  margin-bottom: 12px;
  overflow: hidden;
  background-color: rgb(165, 165, 165);
  display: flex;
  align-items: center;
  justify-content: center;
}

.art-img {
  width: 100%;
  height: 100%;
}

.art-card-title {
  margin: 1rem 0rem 1rem;
  font-size: 17px;
  font-weight: 600;
  color: var(--ossp-lightblue);
  cursor: default;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
}

.art-card-des {
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  margin: 0;
  font-size: 13px;
  color: var(--ossp-lightblue);
  cursor: default;
}

.sectf {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0;
  margin: 0;
}

.sectg {
  margin: 0;
  padding: 0;
}

.logo-set {
  width: 7rem;
  margin: 0rem 3rem 0rem;
}

@media (max-width: 992px) {
  .logo-set {
    width: 5rem;
    margin: 0rem 1rem 0rem;
  }
}

@media (max-width: 576px) {
  .logo-set {
    width: 3rem;
    margin: 0rem 0rem 0rem;
  }
}

.row-f {
  margin: 0;
}

.row-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.col.col-f {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
  padding: 0;
  margin: 0;
}

#freeinfo {
  width: 11.5rem;
  margin: 0rem .5rem 0rem;
}

@media (max-width: 992px) {
  #freeinfo {
    width: 8.5rem;
  }
}

@media (max-width: 580px) {
  #freeinfo {
    width: 4.8rem;
    margin: 0rem -.5rem 0rem;
  }
}

#maps {
  width: 100%;
  margin: 0;
  padding: 1rem 0rem 1rem;
}

.sect-secth {
  background: var(--ossp-lightblue);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem;
}

.secth {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  width: 100%;
  height: fit-content;
  margin: 2rem 0rem 0rem;
}

.col-footer {
  height: fit-content;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
}

.map-sect {
  width: 100%;
  height: 100%;
}

.cont-fb {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0rem 5rem 0rem;
  text-align: center;
  height: fit-content;
  margin-top: 1rem;
}

.cont-fb iframe {
  display: block;
  text-align: center;
}

.rowfoota {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .rowfoota {
    flex-direction: column;
  }
}

.row-row-setc {
  display: flex;
  align-items: center;
  justify-content: center;
}

.colfoot {
  justify-content: center;
  display: flex;
  align-items: center;
  width: 100%;
}

@media (min-width: 768px) {
  .colfoot {
    flex-direction: column;
  }
}

#footossp {
  width: 130px;
  margin: 0rem 0rem 1rem;
}

#footer-logo {
  margin-right: 1.5rem;
}

.row-sectc-child {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: .5rem;
}

@media (max-width: 768px) {
  .row-sectc-child {
    flex-direction: column;
  }
}

.col-col-sectc {
  display: flex;
  align-items: center;
  justify-content: start;
  height: fit-content;
  font-size: x-small;
  padding: 0;
  margin: 0;
}

.div-icon {
  padding: .1rem .4rem .2rem;
  background-color: white;
  border-radius: 49%;
  color: var(--ossp-lightblue);
  margin: 1rem 0rem 1rem;
  font-size: small;
}

.div-div-foot h1 {
  color: white;
  font-weight: lighter;
  font-size: 17px;
  margin: 0rem .3rem 0rem;
}

.div-div-foot p {
  color: #ffffff;
  margin: 0;
  height: fit-content;
  font-style: italic;
  font-size: 15px;
}

.foot-icon {
  margin: 0;
  padding: 0;
  font-weight: bolder;
}

.div-div-foot {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  flex-wrap: wrap;
  height: fit-content;
  padding: 0;
  margin: 0;
}

.row.row-fb {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row.row-fb .col {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 3rem;
}

@media (max-width: 992px) {
  .row-fb {
    display: flex;
    flex-direction: column;
  }
}

.facebookiframe {
  height: 60vh;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}

.div-foot-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: start;
}

.div-foot-links a {
  font-size: medium;
  color: #ffffff;
  text-decoration: none;
}

.div-foot-links a:hover {
  font-weight: bold;
  color: var(--ossp-lightbrown);
}

.col-end-foot {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.div-end-foot {
  color: #ffffff;
  text-align: center;
}

.divfoot {
  padding: 0;
  margin: 0;
}

@media (min-width:1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 3000px;
  }
}

@media (min-width:1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1140px;
  }
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0;
}

/* table legislation.html */

.table-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 2rem;
}

#table-body {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

td {
  display: flex;
}

td::before {
  content: attr(data-cell);
  margin-right: 1rem;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
}

.table-button {
  background-color: var(--ossp-lightblue);
  border-radius: 5%;
  border-color: var(--ossp-lightwhite);
  margin-right: 1rem;
  font-size: large;
  color: var(--ossp-lightbrown);
}

/* dropdown show settings */

.dropdown-menu {
  pointer-events: auto;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.table-button-ctc par {
  display: block;
}

@media (max-width: 430px) {
  .table-button-ctc par {
    display: none;
  }
}

@media (max-width: 430px) {
  .table-button-ctc svg {
    display: block;
  }
}

.table-button:hover + .table-button:has(.dropdown-menu:nth-of-type(1):hover) {
  outline: none;
  border: 0.5px solid var(--ossp-lightred);
  box-shadow: -5px -5px 0px var(--ossp-lightred);
  color: var(--ossp-lightbrown);
  background-color: var(--ossp-lightblue);
}

tr {
  margin: 0rem 0rem 1rem;
  border-bottom: solid var(--ossp-lightbrown);
  width: 100%;
}

.input-container:hover > .icon {
  animation: anim 1s linear infinite;
}

.input:focus {
  outline: none;
  border: 0.5px solid var(--ossp-lightred);
  box-shadow: -5px -5px 0px var(--ossp-lightred);
}

.input {
  width: 100%;
  height: 40px;
  padding: 10px;
  transition: .2s linear;
  border: 2.5px solid var(--ossp-lightblue);
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.icon-class {
  position: absolute;
  right: 10px;
  top: calc(50% + 5px);
  transform: translateY(calc(-50% - 5px));
}

.input-container {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0 1rem 0rem;
}

.table-header-row {
  display: none;
}

.pagination a {
  background-color: var(--ossp-lightbrown);
  color: var(--ossp-lightblue);
}

.pagination a:hover {
  outline: none;
  border: 0.5px solid var(--ossp-lightred);
  box-shadow: -5px -5px 0px var(--ossp-lightred);
}

@media (min-width:768px) {
  .navbar-expand-md .navbar-toggler {
    display: none;
  }
}

.navbar-toggler:focus {
  outline: 0;
  box-shadow: none;
}

@media (min-width:768px) {
  .navbar-expand-md {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
}

.scroll-up a {
  text-decoration: none;
}

.up-top {
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: end;
  position: fixed;
  background: transparent;
  border: none;
  bottom: 1rem;
  z-index: 10000;
}

.email-form {
  display: flex;
  justify-content: end;
  align-items: end;
  width: 100%;
  height: 0;
  transform: translateY(-10rem);
}

.form {
  display: flex;
  flex-direction: column;
  background: white;
  margin-right: 2rem;
  padding: 20px;
  border-radius: 10px;
  max-width: 350px;
  box-shadow: 0px 0px 60px 5px rgba(0, 0, 0, 0.4);
}

@media (max-width:400px) {
  .form {
    margin-right: 1rem;
    width: 90%;
    flex: 1 0 100%;
  }
}

.title {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 700;
  letter-spacing: -0.025em;
  color: black;
}

.description {
  line-height: 1.5rem;
  font-size: 1rem;
  margin-top: 1rem;
  color: black;
}

.form div {
  display: flex;
  max-width: 28rem;
  margin-top: 1rem;
  column-gap: 0.5rem;
}

@media (max-width:400px) {
  .form div {
    flex-direction: column;
    width: 90%;
    flex: 1 0 100%;
  }
}

.form div input {
  outline: none;
  line-height: 1.5rem;
  font-size: 0.875rem;
  color: rgb(255 255 255 );
  padding: 0.5rem 0.875rem;
  background-color: rgb(255 255 255 / 0.05);
  border: 1px solid rgba(253, 253, 253, 0.363);
  border-radius: 0.375rem;
  flex: 1 1 auto;
}

.form div input::placeholder {
  color: rgb(216, 212, 212);
}

.form div input:focus {
  border: 1px solid var(--ossp-lightred);
}

.form div button {
  color: #fff;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.625rem 0.875rem;
  background-color: var(--ossp-lightblue);
  border-radius: 0.375rem;
  border: none;
  outline: none;
}

.up-top a {
  border: none;
}

.scroll-up {
  right: 3rem;
  bottom: -50%;
  width: 50px;
  height: 50px;
  border-radius: 4px;
  background-color: rgba(29, 29, 31, 0.7);
  backdrop-filter: saturate(180%) blur(20px);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: bottom .4s, transform .4s;
  margin-right: 1rem;
}

.scroll-up:hover {
  transform: translateY(-.25rem);
}

._show-scroll {
  bottom: 3rem;
}

@media (min-width: 1200px) {
  .scroll-up {
    right: 1rem;
  }
}

.ban-heading-sub {
  font-size: 50px;
  padding: 1rem;
}

@media (max-width: 576px) {
  .ban-heading-sub {
    font-size: 25px;
    padding: 1rem;
  }
}

.section-ban {
  background-image: url("../../assets/img/osspfamily.jpg");
  background-size: cover;
  background-position: center bottom;
  background-attachment: fixed;
  aspect-ratio: 16/8;
  overflow: hidden;
}

@media (max-width: 992px) {
  .section-ban {
    min-height: 50vh;
  }
}

@media (max-width: 992px) {
  .section-ban {
    overflow: hidden;
  }
}

.div-head-child {
  color: white;
  text-shadow: 2px 2px black;
  height: 100%;
  width: 100%;
  background-color: var(--ossp-transparentlightblue);
  display: flex;
  align-items: end;
  justify-content: start;
  padding-left: 3rem;
}

@media (max-width: 360px) {
  .div-head-child {
    padding: 1rem;
  }
}

.par-about {
  padding: 0rem 2rem 0rem;
}

#hist-sect {
  margin-bottom: 1rem;
}

.section-about {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
  width: 100%;
  height: fit-content;
  margin-bottom: 2rem;
}

ul.about-list {
  list-style-position: inside;
  list-style-type: circle;
  color: #000;
}

.about-list li {
  display: list-item;
}

.about-list li {
  margin-bottom: 1rem;
  padding-left: 3rem;
}

@media (max-width: 576px) {
  .about-list {
    padding: 0rem 1rem 0rem 1rem;
  }
}

.sect-kp {
  margin-top: 2rem;
}

.head-kp {
  text-align: center;
}

.card-kp {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0rem 1rem 0rem;
  max-width: 650px;
  max-height: 600px;
  width: 80%;
  height: 80%;
  background: rgb(103, 225, 255);
  transition: all 0.4s;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.705);
  font-size: 30px;
  font-weight: 900;
}

.card-kp:hover {
  border-radius: 15px;
  cursor: pointer;
  transform: scale(1.2);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.705);
  background: var(--bs-tertiary-color);
}

.first-content {
  height: 100%;
  width: 90%;
  text-align: center;
  transition: all 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  border-radius: 15px;
}

.card-kp:hover .first-content {
  height: 0px;
  opacity: 0;
}

.second-content {
  height: 0%;
  width: 100%;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  transition: all 0.4s;
  font-size: 0px;
  transform: rotate(90deg) scale(-1);
  color: white;
}

.card-kp:hover .second-content {
  opacity: 1;
  height: 100%;
  width: 100%;
  font-size: 1.8rem;
  transform: rotate(0deg);
}

.main-col {
  display: flex;
  width: 100%;
  height: 100%;
}

.row-kp {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  width: 100%;
}

.col-kp-child {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
}

.head-div {
  font-size: 20px;
}

@media (max-width: 1200px) {
  .row-kp.row-kp-two {
    display: flex;
    flex-direction: column;
  }
}

.row-kp-two {
  flex-wrap: inherit;
}

.card-kp span {
  font-size: 20px;
}

#dept-head {
  background-image: url("../../assets/img/john.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

#asst-city-sect {
  background-image: url("../../assets/img/art.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

#ea-class {
  background-image: url("../../assets/img/anjo.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

#admin-chief {
  background-image: url("../../assets/img/mila.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

#legserv-chief {
  background-image: url("../../assets/img/icy.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

#journmin-chief {
  background-image: url("../../assets/img/janet.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.row-kp-two .card-kp {
  width: 315px;
}

.row-kp-two .card-kp {
  width: 395px;
  height: 315px;
}

.banner-head {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 16/5.6;
  margin: 2rem 0rem 2rem;
}

@media (max-width: 992px) {
  .banner-head {
    min-height: 50vh;
  }
}

/* banner legislation.html */

.tbl-head-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../assets/img/legissession.webp");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  aspect-ratio: 16/5.6;
  margin: 2rem 0rem 2rem;
}

@media (max-width: 992px) {
  .tbl-head-section {
    min-height: 50vh;
  }
}

.banner-legis {
  width: 100%;
  height: 100%;
  background-color: var(--bs-tertiary-color);
}

.container-legis-banner {
  color: white;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 2rem;
  align-items: end;
  justify-content: start;
  text-shadow: 2px 2px var(--ossp-transparentlightblue);
}

.end-foot {
  background-color: var(--ossp-lightblue);
}

/* Start personnel.page */

.section-about.sect-kp {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.main-row-kp {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin: 0;
}

.row-kp.row-kp-two {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.regu-sect {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0rem 2rem;
}

.regu-cont {
  width: 100%;
  height: fit-content;
  text-align: center;
}

.dd-row {
  width: 100%;
  height: 100%;
  display: flex;
  margin: 1rem 0rem 1rem;
}

@media (max-width: 776px) {
  .dd-row {
    flex-direction: column;
  }
}

.dd-row, .col {
  display: inline;
  width: 100%;
}

.regu-dp {
  position: relative;
  width: 100%;
  margin-bottom: 1rem;
}

.menu-reg-btn {
  position: relative;
  display: block;
  width: 100%;
  height: fit-content;
}

.menu-reg-btn::after {
  content: "";
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  transition: 0.2s;
}

.menu-reg-btn:hover::after, .regu-dp:hover .menu-reg-btn::after {
  background-color: var(--ossp-lightblue);
  width: 100%;
}

.menu-reg-btn:hover, .menu-reg-btn:focus {
  color: var(--ossp-lightblue);
  border: none;
}

.menu-reg-btn:hover::after, .menu-reg-btn:focus::after {
  background-color: var(--ossp-lightblue);
  width: 100%;
}

.menu-reg {
  border: none;
  position: absolute;
  text-align: center;
}

.menu-reg, .show {
  width: 100%;
  height: fit-content;
}

.menu-dp-item:active {
  background-color: var(--bs-tertiary-color);
  color: white;
}

.maint-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
  flex-direction: column;
}

.personnel-card-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.personnel-card-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 2rem 0rem 2rem;
}

.personnel-card-wrapper a {
  text-decoration: none;
}

.personnel-content {
  aspect-ratio: 12/4.8;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  margin: 0 auto;
  overflow: hidden;
  min-height: 80vh;
}

.personnel-card-child {
  padding: 1rem 1rem 1rem;
  flex: 1 0 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  display: none;
  display: flex;
  text-align: center;
}

.personnel-center-child {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section-banner {
  background-image: url("../../assets/img/osspfamily.jpg");
  background-size: cover;
  background-position: center bottom;
  background-attachment: fixed;
  aspect-ratio: 16/8;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.section-personnel-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.div-personnel-content {
  width: 100%;
  height: 100%;
  margin: 2rem;
}

.div-personnel-content li {
  margin-bottom: 5px;
}

ol.div-personnel-parent {
  list-style-position: inside;
}

.div-personnel-parent li {
  display: list-item;
}

.div-personnel-parent {
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  margin: 2rem 1rem 2rem;
  padding: 0rem 1rem 1rem;
}

.div-personnel-parent h2 {
  width: 100%;
  text-align: center;
}

.div-personnel-parent h3 {
  width: 100%;
  text-align: center;
}

.div-personnel-parent, .row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  width: 100%;
  height: 100%;
}

@media (max-width: 776px) {
  .div-personnel-parent, .row {
    flex-direction: column;
  }
}

.div-personnel-parent, .col {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.section-wrapper:hover {
  box-shadow: inset;
  transform: scale(1,1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.section-wrapper {
  cursor: pointer;
  width: 100%;
  max-width: 550px;
  border: grey solid 3px;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  transition: height 0.7s ease-in;
}

.unexpanded-inf {
  display: none;
  opacity: 0;
  animation: unreveal 0.7s ease;
}

.expanded-inf {
  display: block;
  opacity: 1;
  animation: reveal 0.7s ease;
}

.parent-unex {
  animation: unexpand 2s ease;
}

.parent-expa {
  animation: expand 2s ease;
}

.section-hint {
  height: fit-content;
  font-size: 20px;
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-hint a {
  color: #000;
  text-decoration: none;
}

.section-up {
  display: none;
}

.section-wrapper:hover > .section-hint, .a {
  animation: bounce 1s linear infinite;
}

.section-wrapper.parent-expa .section-down {
  display: none;
}

.section-wrapper.parent-expa .section-up {
  display: block;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes unreveal {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

@keyframes expand {
  0% {
    height: 20%;
  }
  100% {
    height: fit-content;
  }
}

@keyframes unexpand {
  0% {
    height: fit-content;
  }
  100% {
    height: 20%;
  }
}

/* Log-in Page */

.login-sect {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(5%);
  padding: 1rem;
}

.login-card-container {
  width: 450px;
  height: 560px;
  background: transparent;
  position: relative;
}

.login-container {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.circle1 {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  transform: translateX(410%);
  background-color: var(--ossp-lightblue);
  position: absolute;
  top: 0;
  left: 0;
}

.circle2 {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  transform: translateX(-410%);
  background-color: var(--ossp-darkred);
  position: absolute;
  right: 0;
  bottom: 0;
}

.log-card {
  position: absolute;
  width: 300px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding: 20px;
}

.heading {
  font-size: 28px;
  font-weight: 800;
}

.para {
  font-size: 14px;
  font-weight: 500;
}

.text {
  margin-top: 15px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 600;
  color: lightslategray;
}

.login-input-group {
  margin-top: 10px;
  margin-bottom: 4px;
}

.login-input {
  box-sizing: border-box;
  margin-bottom: 5px;
  width: 100%;
  border: none;
  padding: 8px 16px;
  background-color: transparent;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  font-weight: 600;
  color: var(--ossp-lightblue);
}

.login-input:hover {
  color: var(--ossp-lightblue);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}

.login-password-group {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.checkbox-group {
  color: black;
  font-size: 14px;
  font-weight: 500;
}

.forget-password {
  font-size: 14px;
  font-weight: 500;
  color: var(--ossp-lightblue);
  text-decoration: none;
}

.forget-password:hover {
  text-decoration: underline;
  color: var(--ossp-lightred);
}

.login-btn {
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 8px 16px;
  border: none;
  background-color: var(--ossp-transparentlightblue);
  color: white;
  font-size: 16px;
  font-weight: 700;
  border-radius: 8px;
}

.login-btn:hover {
  background-color: var(--ossp-lightblue);
}

.no-account {
  font-size: 16px;
  font-weight: 400;
}

.link {
  font-weight: 800;
  color: var(--ossp-lightblue);
}

.link:hover {
  color: var(--ossp-lightred);
  text-decoration: underline;
}

.mult-list {
  display: flex;
  flex-wrap: wrap;
}

